{% comment %}
         
              <div class="my-request-zone-parent">
                <div class="my-request-zone-installers">
                <b class="my-request-zone-installers-heading">{{ product.metafields.custom.block_request_zone}}</b>
                <div class="my-request-zone-installers-description">{% if product.metafields.custom.brightlink_av_preferred_installers_description %} {{product.metafields.custom.brightlink_av_preferred_installers_description }} {% endif %} </div>
                </div>
                <div onclick="window.location.href='https://brightlinkav.com/pages/request-for-zone'" class="my-request-zone-button-parent">
                <div class="my-request-zone-button-text">Request for Zone</div>
                </div>
              </div>
{% endcomment %}

                    
              <div class="my-request-zone-parent">
                <div class="my-request-zone-installers">
         {% comment %}       <b class="my-request-zone-installers-heading">Brightlink AV Preferred Installers</b>  {% endcomment %}
                <div class="my-request-zone-installers-description"> Searching for a trusted installer in your area to assist with your project? </div>
                </div>
                <div onclick="window.location.href='https://brightlinkav.com/pages/installer-zone'" class="my-request-zone-button-parent">
                <div class="my-request-zone-button-text">Find an Installer</div>
                </div>
              </div>

 