<style>
  .show-more-see-more {
  	position: relative;
  	font-weight: 500;
}
.vector-icon-see-more {
  	position: relative;
  	width: 15px;
  	height: 8.63px;
}
.show-more-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
}
.header-see-more {
  	position: relative;
  	border-radius: 0px 0px 10px 10px;
  	background-color: rgba(38, 39, 41, 0.1);
  	border: 1px solid #f2f2f2;
  	box-sizing: border-box;
  	width: 100%;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	padding: 20px;
  	align-items: center;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 16px;
  	color: #333;
  	font-family: Montserrat;
    line-height: 20px;
    cursor: pointer;
    min-width: 700px;
}

@media screen and (max-width:768px) {
    .show-more-see-more {
  	position: relative;
  	font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}
.vector-icon-see-more {
  	position: relative;
    width: auto;
    height: 5.76px;
}
.show-more-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
}
.header-see-more {
  	position: relative;
  	border-radius: 0px 0px 10px 10px;
  	background-color: rgba(38, 39, 41, 0.1);
  	border: 1px solid #f2f2f2;
  	box-sizing: border-box;
  	width: 100%;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	padding: 15px 10px;
  	align-items: center;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 16px;
  	color: #333;
  	font-family: Montserrat;
    line-height: 20px;
    cursor: pointer;
    min-width: 700px;
}
}
</style>




  	<div class="header-see-more" id="toggleRowsP">
    		<div class="show-more-parent">
      			<div class="show-more-see-more" id="toggleRowsC">Show More</div>
      			<img class="vector-icon-see-more" alt="" src="https://cdn.shopify.com/s/files/1/0616/2284/5624/files/Vector_1.svg?v=1690396459">
      			
    		</div>
  	</div>
  	
  	